<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1>Welcome <br/> <%= name%> </h1>
<p>하이하이</p>
<p>너는 <%= no %> 번째 가입자야 </p>
</body>
</html>